@import '../../scss/_variables.scss';

.root {
  text-align: center;
  padding: 120px;
}

.button {
  display: inline-block;
  background-color: $orange;
  border-radius: 30px;
  padding: 10px 20px;
  margin-top: 50px;
  min-width: 250px;
  text-align: center;
  cursor: pointer;
  transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
  border: 1px solid transparent;

  &,
  span {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
  }

  &:hover {
    background-color: darken($orange, 8%);
  }

  &:active {
    background-color: darken($orange, 12%);
    transform: translateY(1px);
  }
}